.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: #ffffff;
    z-index: 30;
}

.logo {
    height: 4.5rem;
    margin: 0.5rem;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

.menu li a, .loginPulsante {
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
    transition: color 0.3s;
}

.loginContainer {
    padding: 1.25rem 1.25rem;
}

.loginPulsante {
    padding: 1rem 2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    background-color: #214168;
    color: white;
    border-radius: 1.5rem;
    text-decoration: none;
}

.loginPulsante:hover {
    background-color: #1b3453;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.menuBtn {
    display: none;
}

.menuIcon {
    display: none;
    padding: 1rem;
    cursor: pointer;
}

.menuIcon .navIcon,
.menuIcon .navIcon::before,
.menuIcon .navIcon::after {
    display: block;
    background-color: #333;
    height: 0.125rem;
    width: 1.5625rem;
    transition: all 0.3s;
    position: relative;
}

.menuIcon .navIcon::before,
.menuIcon .navIcon::after {
    content: '';
    position: absolute;
}

.menuIcon .navIcon::before {
    top: 0.5rem;
}

.menuIcon .navIcon::after {
    top: -0.5rem;
}

.menuBtn:checked + .menuIcon .navIcon {
    background-color: transparent;
}

.menuBtn:checked + .menuIcon .navIcon::before {
    transform: rotate(45deg);
    top: 0;
}

.menuBtn:checked + .menuIcon .navIcon::after {
    transform: rotate(-45deg);
    top: 0;
}

@media (max-width: 48rem) {
    .menu {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        visibility: hidden;
        z-index: 10;
        align-items: center;
    }

    .menuBtn:checked ~ .menu {
        max-height: 31.25rem;
        visibility: visible;
    }

    .menu li {
        width: 100%;
        opacity: 0;
        transform: translateY(-1.25rem);
        transition: opacity 0.4s ease, transform 0.4s ease;
        text-align: center;
    }

    .menuBtn:checked ~ .menu li {
        opacity: 1;
        transform: translateY(0);
    }

    .menu li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .menu li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .menu li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .menu li:nth-child(4) {
        transition-delay: 0.4s;
    }

    .menu li:nth-child(5) {
        transition-delay: 0.5s;
    }

    .menu li:nth-child(6) {
        transition-delay: 0.6s;
    }

    .menu li:nth-child(7) {
        transition-delay: 0.7s;
    }

    .menuIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
