.Header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.navItem {
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    max-width: 100px;
}

.link1, .link2 {
    color: #616161;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 20px;

}

.link3 {
    color: #616161;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 20px;
}


.link1:hover, .link2:hover, .link3:hover {
    color: #9c9c9c;
}

.logoutPulsante {
    background-color: #2C4D79;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-left: 25px;
    border: none !important;
}

.loginPulsante{
    background-color: #2C4D79;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    margin-left: 25px;
    border: none !important;
}

.loginPulsante:hover, .logoutPulsante:hover {
    background-color: #214168;
}


/*Menu Hamburgher */

.hamburger {
    display: none; /* Nascondi il pulsante di default */
    flex-direction: column;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #333; /* Colore delle barre */
    margin: 2px 0;
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

/* Active state styles */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg); /* Move and rotate the first bar */
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg); /* Move and rotate the third bar */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex; /* Show hamburger on small screens */
    }
}

.nav {
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: white; /* Colore di sfondo del menu */
    overflow: hidden; /* Nascondi gli elementi in eccesso */
    transition: max-height 0.3s ease; /* Transizione per l'apertura */
}

.show {
    max-height: 300px !important; /* Altezza massima quando aperto (regola in base al contenuto) */

}

@media (max-width: 768px) {
    .hamburger {
        display: flex; /* Mostra il pulsante su schermi piccoli */
    }

    .nav {
        display: flex; /* Mostra il menu come colonna */
        flex-direction: column;
        top: 95px; /* Regola in base all'altezza dell'header */
        width: 100%;
        max-height: 0; /* Nascondi il menu */
    }
}