
.loginContainer {
    padding: 20px 20px;
}

.loginPulsante {
    background-color: #2C4D79;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding: 1rem 2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 1.5rem;
}

.loginPulsante:hover {
    background-color: #214168;
}

.avatar {
    width: 5rem;
    height: 5rem;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.header li a {
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.header li a:hover,
.header .menuBtn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    max-width: 8rem;

}

.header .logoElenco {
    display: none;
}

.logoContainerElenco {
    margin-right: auto;
}

/* menu */

.header .menu {
    clear: none;
}

/* menu icon */

.menuIcon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    align-self: start;
}

.header .menuIcon .navIcon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.header .menuIcon .navIcon:before,
.header .menuIcon .navIcon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.header .menuIcon .navIcon:before {
    top: 5px;
}

.header .menuIcon .navIcon:after {
    top: -5px;
}

/* menu btn */

.header .menuBtn {
    display: none;
}

.header .menuBtn:checked ~ .menu {
    max-height: 333rem;
}

.header .menuBtn:checked ~ .menuIcon .navIcon {
    background: transparent;
}

.header .menuBtn:checked ~ .menuIcon .navIcon:before {
    transform: rotate(-45deg);
}

.header .menuBtn:checked ~ .menuIcon .navIcon:after {
    transform: rotate(45deg);
}

.header .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon:before,
.header .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon:after {
    top: 0;
}

/* Gestione per schermi più piccoli */

@media (max-width: 75em) {
    .header ul {
        flex-direction: column;
        align-items: center;
    }

    .header li {
        flex-direction: column;
    }

    .header .menu {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
        clear: both;
    }

    .header .menuIcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        user-select: none;
        margin: 2rem;
    }

    .header .logo {
        display: none;
    }

    .header .menuBtn:checked ~ .menu {
        max-height: 333rem;
    }

    /* Aggiunta dell'effetto a caselli */
    .header .menu li {
        opacity: 0;
        transform: translateY(-20px); /* Parte leggermente sopra */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    /* Quando il menu viene attivato */
    .header .menuBtn:checked ~ .menu li {
        opacity: 1;
        transform: translateY(0);
    }

    /* Ritardo per l'effetto cascata */
    .header .menuBtn:checked ~ .menu li:nth-child(1) {
        transition-delay: 0.1s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(2) {
        transition-delay: 0.2s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(3) {
        transition-delay: 0.3s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(4) {
        transition-delay: 0.4s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(5) {
        transition-delay: 0.5s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(6) {
        transition-delay: 0.6s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(7) {
        transition-delay: 0.7s;
    }

    .header .menuBtn:checked ~ .menu li:nth-child(8) {
        transition-delay: 0.8s;
    }
    .header .menuBtn:checked ~ .menu li:nth-child(8) {
        transition-delay: 0.9s;
    }
}