.container {
    display: flex;
    flex-direction: row;
    margin-top: 95.94px;
    font-family: Montserrat, sans-serif;
    user-select: none;
}

.sidebar {
    margin-top: 85px;
    background-color: white;
    overflow-y: auto;
    position: fixed;
    width: 200px;
    height: calc(100vh - 350px);
    padding-left: 15px;
    border-radius: 5px;
    font-weight: 600;
}


.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 213px;
}

.navLink {
    color: #616161;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    position: relative;
}

.navLink.active {
    color: #2C4D79;
}

.navLink.active::before {
    content: ""; /* Necessario per i pseudo-elementi */
    position: absolute;
    left: 0; /* Posiziona la barra sul lato sinistro */
    top: 0;
    bottom: 0;
    width: 3px; /* Larghezza della barra */
    background-color: #2C4D79; /* Colore della barra, uguale al colore del testo attivo */
}


.section {
    margin-bottom: 20px;
}

.section h1 {
    margin-top: 25px;
}

/* Aggiungi questo al tuo file CSS esistente */
.section p {
    margin-bottom: 25px; /* Aggiungi margine inferiore a tutti i paragrafi all'interno delle sezioni */
}


.sectionTitle {
    margin-bottom: 15px;
    color: #333;
}


.powerbi {
    margin-bottom: 50px;
}

.PBI {
    width: 100%;
    height: 500px;
    border: none;
}

.bottonePowerbi {
    background-color: #2C4D79;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 16px 10px 16px;
}


/* Styles for the hamburger button */
.hamburger {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.divMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    height: 100%;
    background: white;
}

/* Show hamburger button only on screens smaller than 1050px */
@media (max-width: 1050px) {
    .mainContent {
        margin-left: 0;
    }


    .hamburger {
        display: flex; /* Show hamburger button */
        position: fixed;
        margin-top: 15px;

    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: #333; /* Color of the hamburger lines */
        transition: all 0.3s ease; /* Smooth transition */
    }

    .sidebar {
        display: none; /* Hide sidebar by default */
    }

    .sidebar.show {
        display: block; /* Show sidebar when toggled */
        position: fixed; /* Position as needed */
        top: 60px; /* Adjust based on your layout */
        left: 0;
        right: 0;
        background-color: white; /* Sidebar background */
        z-index: 1000; /* Ensure it appears above other content */
    }
}

/* Styles for larger screens */
@media (min-width: 1051px) {
    .hamburger {
        display: none; /* Hide hamburger button */
    }
}

@media (max-height: 450px) {
    .sidebar {
        height: calc(100vh - 300px); /* Adjust height based on screen height */
    }
}

