
/* Assicurati che il contenitore principale occupi l'intera pagina */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Classe personalizzata per Power BI */
.powerbi {
    height: 100%;
    width: 100%;
}

/* Rendi l'iframe responsivo e occupi l'intera area disponibile */
.responsive-iframe {
    width: 100%;
    height: 100%;
    border: none;
}
