.imgDiagnosi {
    margin-top: 100px;
    width: 100%;
}


.container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}


.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
}


.textTitle {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat", sans-serif;
}


.cardsContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardsContainerRev {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.titoloServizi {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #616161;
    text-transform: uppercase;
}


.paragrafoServizi {
    font-weight: 400;
    color: #616161;
    font-size: 15px;
}


.strong {
    color: #6d6d6d;
    font-weight: 600;
}


.ciao {
    width: 100%;
}

.imageTextSection {
    display: flex;
    align-items: center;
    margin-bottom: 100px; /* Spazio tra le sezioni */
}

.textSideRight {
    order: 1;
    padding-left: 100px;
}

.textSideLeft {
    order: 1;
    padding-right: 100px;
}

.sectionImage {
    order: 1;
    max-width: 40%;
    height: auto;
}

.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #616161;
}

.sectionText {
    font-size: 15px;
    color: #616161;
}

@media (max-width: 900px) {
    .cardsContainer {
        flex-direction: column;
    }

    .cardsContainerRev {
        flex-direction: column;
    }

    .sectionImage {
        max-width: 100%;
    }
}
