.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}


.button {
    background-color: #2C4D79;
    border-color: #2a4c77;
    border-radius: 1px!important;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 5s, visibility 5s!important;
    opacity: 1;
    font-family: "Montserrat", sans-serif;

}
.button:hover {
    opacity: 1;
}
