.backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.button {
    background-color: #56607d;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0.8;
    font-family: "Montserrat", sans-serif;

}
.button:hover {
    opacity: 1;
}
