.logo {
    width: 100px;
    height: auto;
}

.footerFullWidth {
    width: 100%;
}

.sedeLegale {
    background-color: #2C4D79;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    font-size: 18px;
}

.sedeOperativa {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    color: black;
    font-size: 16px;
}

.paragrafoFooter1 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

.paragrafoFooter2 {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    align-items: end;
}

.email{
    text-decoration: underline!important;
    color: black;
}