.mappa {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

/* styles/Layout.module.css */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Assicurati che la pagina occupi tutta l'altezza */
    box-sizing: border-box; /* Considera padding e bordo nel calcolo delle dimensioni */
    color: #616161;
    font-family: "Montserrat", sans-serif;
}

.mainContent {
    flex: 3; /* La parte principale occupa più spazio */
    padding: 20px;
    border-right: 1px solid #ddd; /* Aggiungi una linea di separazione tra la parte principale e la sidebar */
    text-align: center;
}

/* New CSS for sidebarContainer to ensure vertical stacking */
.sidebarContainer {
    flex: 1; /* La sidebar occupa meno spazio rispetto al contenuto principale */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.sedeLegale {
    display: inline-block;
    padding: 15px 76px;
    border: 2px solid #00b1d7;
    color: #2C4D79;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.sedeOperativa {
    display: inline-block;
    padding: 15px 56px;
    border: 2px solid #00b1d7;
    color: #2C4D79;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.strong {
    color: #6d6d6d;
}

.paragrafiSedeLegale {
    margin-bottom: 0;
    margin-top: 25px;
}

.titoloPrincipale {
    color: #2C4D79;
    font-weight: 600;
}

@media (max-width: 1160px) {
    .container{
        flex-direction: column;
    }
    .mainContent {
        border: none;
    }

    .sidebarContainer{
        display: grid;
        grid-template-columns: repeat(2, minmax(370px, 1fr));
        gap: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
}

@media (max-width: 780px) {
    .sidebarContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
