/*------------------------------------------ EMAIL ALERT ------------------------------------------*/

.errorInput {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.alertContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea il titolo a sinistra */
    justify-content: flex-start;
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 25px;
    min-height: 200px; /* Altezza minima per contenere tutto */
    width: 100%; /* Adatta alla larghezza del contenitore */
}
.alertTitle {
    position: absolute; /* Posiziona il titolo assolutamente */
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.converterContainer {
    display: flex;
    flex-direction: row; /* Layout orizzontale */
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Occupa tutto lo spazio disponibile */
    gap: 15px; /* Spazio tra gli elementi */
}

.inputGroupHorizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiato da center a flex-start */
    min-width: 120px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left; /* Per sicurezza */
}

.h3{
    margin-top: 2%;
    font-weight: bold;
    text-align: left; /* Per sicurezza */
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.convertButton {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2%;
}

/*------------------------------------------ GENERAL MODIFIED------------------------------------------*/

.section {
    margin-bottom: 5%;
    min-height: auto; /* Imposta un'altezza minima per ogni sezione */
    width: 97%; /* Assicura che le sezioni occupino tutta la larghezza */
}

@media (max-width: 768px) {
    .section {
        min-height: auto; /* Puoi adattare l'altezza minima in base alle esigenze */
        margin-bottom: 10px; /* Riduci il margine per adattarsi meglio agli schermi piccoli */
    }
}

/*------------------------------------------  PBI  ------------------------------------------*/

/* Stili per la sezione Futures */
#Futures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}



/* Pulsante per entrare e uscire dalla modalità full-screen */
.fullscreenEnter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    background: #325B72;
    border-radius: 0 0 25px 25px;
}
.fullscreenExit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #325B72;
    padding: 10px;
    display: flex;
    justify-content: right; /* Per centrare il pulsante */
    align-items: center;
}

.fullscreenButton {
    padding: 8px 12px;
    cursor: pointer;
    background: #5198B4;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombra leggera */
}

.fullscreenButton:hover {
    background: #00324F;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
}

/* Responsività */
@media (max-width: 1024px) {
    .iframeContainer {
        height: 400px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .iframeContainer {
        height: 300px;
        width: 100%;
    }

    .fullscreenButton {
        font-size: 14px;
        padding: 6px 10px;
    }
}

/*------------------------------------------ GENERAL ------------------------------------------*/
.navLink.active {
    color: #2C4D79;
}

.navLink.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #2C4D79;
}
.navLink {
    color: #616161;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    position: relative;
}


.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: 3%;
    margin-left: 213px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 95.94px;
    font-family: Montserrat, sans-serif;
    user-select: none;
    width: 100%;
}
.sidebar {
    margin-top: 85px;
    background-color: white;
    overflow-y: auto;
    position: fixed;
    width: 200px; /* Mantieni la larghezza della sidebar */
    height: calc(100vh - 350px); /* L'altezza della sidebar sarà dinamica in base alla finestra */
    padding-left: 15px;
    border-radius: 5px;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .mainContent {
        margin-left: 0;
    }

    .hamburger {
        display: flex;
        position: fixed;
        margin-top: 15px;
    }

    .bar {
        height: 3px;
        width: 100%;
        background-color: #333;
        transition: all 0.3s ease;
    }

    .sidebar {
        display: none;
    }

    .sidebar.show {
        display: block;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1000;
    }
}

/* Styles for larger screens */
@media (min-width: 1051px) {
    .hamburger {
        display: none;
    }
}

@media (max-height: 450px) {
    .sidebar {
        height: calc(100vh - 300px);
    }
}

.divMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    height: 100%;
    background: white;
}

.bottonePowerbi {
    background-color: #2C4D79;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 16px 10px 16px;
}

/* Styles for the hamburger button */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.PBI {
    width: 100%;
    height: 80vh; /* Altezza dinamica (80% della finestra) */
    border: none;
}

.section p {
    margin-bottom: 25px;
}

.sectionTitle {
    margin-bottom: 15px;
    color: #333;
}

.powerbi {
    margin-bottom: 50px;
}